<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>674896011291-d48ur8gh9l73i6ivnrqe67070dc6m7j5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.674896011291-d48ur8gh9l73i6ivnrqe67070dc6m7j5</string>
	<key>API_KEY</key>
	<string>AIzaSyCm2Q-Z_eApR9_LBwcXeA5kHoaX-Y_DHPw</string>
	<key>GCM_SENDER_ID</key>
	<string>674896011291</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>github.com-aknozcn.FilmBrowser</string>
	<key>PROJECT_ID</key>
	<string>loodos-22d54</string>
	<key>STORAGE_BUCKET</key>
	<string>loodos-22d54.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:674896011291:ios:25e615f348df5b985598be</string>
</dict>
</plist>